
body {
    background-color:lightgray;
    margin:0 auto;
}

div {
    margin:0 auto;
    width:auto;
    text-align: center;
}

h1 {
    text-align: center;
    width:auto;
    margin: 0 auto;
    
}

body.online #offline {
    display:none;
}

.error {
    background-color: red;
    margin:0 auto;
    text-align: center;
}

.currentBar {
    border-bottom: 1px solid black;
    margin:0 10%;
}

.onlineContent {
    margin:0 auto;
    width:auto;
    text-align: center;
}

.mapContainer {
    margin:0 auto;
    height:300px;
    width:90%;
}

#mapCanvas {
    position: relative;
    width:90%;
    height:300px;
}
